{% extends 'base.html.twig' %}

{% block title %}
  Access Denied :P | {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container text-center">
    <h1>Access Denied :P</h1>
    <h3>{{ code }}</h3>
  </div>
{% endblock %}
