{% extends 'base.html.twig' %}

{% block title %}
  Home ! {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
    <div>
      <div class="row">
        <p class="lead">
          Sistema de pagamento de qualquer empresa <i class="fa-solid fa-euro-sign"></i>
        </p>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
        <h2 class="mt-5">Olá Administrador</h2>
        <a href="#" onclick="alert('pagamentos liberados!')" class="btn btn-danger">Liberar o pagamento das pessoas</a>
      {% else %}
        <a href="#" onclick="alert('pedido de pagamento enviado!')" class="btn btn-warning">Pedir pagamento</a>
      {% endif %}
      <hr />
      <div class="row">
        <div class="col col-md-12">
          {#           <p class="lead">I created this project as a way to express my love for music and coding, the objective here is to share my music using a system created by myself, hope you enjoy both of my passions in my life :)</p>
 #} <div class="mixed-vinyl-container p-3 text-center">
            {#             <img class="img-fluid w-25 rounded" src="{{ asset('raziel.jpg') }}" data-src="{{ asset('raziel.jpg') }}" alt="Square placeholder img" />
 #} <p class="mt-2">
              {#               <strong>Raziel Rodrigues</strong>
 #}
            </p>
            {#             <span>Software engineer and music lover</span>
 #}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
